{"openapi":"3.1.0","info":{"title":"InFlow API Reference","description":"API for interacting with the InFlow platform.","license":{"name":"Restricted, Proprietary, Copyright 2025-2026."},"version":"1.0"},"servers":[{"url":"https://sandbox.inflowpay.ai/"}],"security":[{"API Key Authentication":[]}],"paths":{"/v1/users/agentic":{"post":{"tags":["Users"],"summary":"Create an agentic user","description":"Creates a new agentic user and returns a private key. This private key is used for authentication by passing it in the `X-API-Key` header. The private key should be stored securely.","operationId":"createAgenticUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgenticUserRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/ErrorMessage"}]}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgenticUserResponse"}}}}}}}},"components":{"schemas":{"Error":{"type":"object","properties":{"code":{"type":"string","description":"The unique code of this error.","enum":["AMOUNT_INVALID","APPROVAL_NOT_FOUND","INSTRUMENT_NOT_FOUND","INVALID_FORMAT","PARAMETER_INVALID","PARAMETER_REQUIRED","POLICY_NOT_FOUND","SELLER_ACCOUNT_REQUIRED","SELLER_NOT_FOUND","SUBSCRIPTION_NOT_FOUND","TRANSACTION_NOT_FOUND","UNEXPECTED_ERROR","USER_NOT_FOUND"],"example":"PARAMETER_REQUIRED","readOnly":true},"message":{"type":"string","description":"The description of this error.","example":"A required parameter was missing.","readOnly":true},"parameter":{"type":"string","description":"An optional parameter name this error applies to.","example":"email","readOnly":true}},"required":["code","message"]},"ErrorMessage":{"type":"object","properties":{"errors":{"type":"array","description":"One or more errors related to the request.","items":{"$ref":"#/components/schemas/Error"},"readOnly":true},"id":{"type":"string","format":"uuid","description":"The error id.","example":"8a5c2948-9e08-439e-a7a6-9f0ee335f566","pattern":"^([a-fA-F0-9]{8}-(?:[a-fA-F0-9]{4}-){3}[a-fA-F0-9]{12}){1}$","readOnly":true}},"required":["errors","id"]},"AgenticUserRequest":{"type":"object","properties":{"locale":{"type":"string","default":"EN_US","description":"The chosen locale of the user.","enum":["EN_US"],"example":"EN_US"},"timezone":{"type":"string","default":"US/Pacific","description":"The chosen timezone of the user.","example":"US/Pacific"}}},"AgenticUserResponse":{"type":"object","properties":{"created":{"type":"string","format":"date-time","description":"An rfc 3339 formatted date: yyyy-MM-dd'T'HH:mm:ss.SSS'Z'","readOnly":true},"locale":{"type":"string","default":"EN_US","description":"The chosen locale of the user.","enum":["EN_US"],"example":"EN_US"},"privateKey":{"type":"string","description":"The private key associated to this user and used for further API authentcation.","readOnly":true},"timezone":{"type":"string","default":"US/Pacific","description":"The chosen timezone of the user.","example":"US/Pacific"},"updated":{"type":"string","format":"date-time","description":"An rfc 3339 formatted date: yyyy-MM-dd'T'HH:mm:ss.SSS'Z'","readOnly":true},"userId":{"type":"string","format":"uuid","description":"The system assigned userId.","example":"8a5c2948-9e08-439e-a7a6-9f0ee335f566","pattern":"^([a-fA-F0-9]{8}-(?:[a-fA-F0-9]{4}-){3}[a-fA-F0-9]{12}){1}$","readOnly":true}},"required":["created","privateKey","updated","userId"]}},"securitySchemes":{"API Key Authentication":{"type":"apiKey","name":"X-API-Key","in":"header"}}}}